<%= link_to "Upload Another", root_path %>

<br />
<br />

<%= form_with(model: @pdf) do |form| %>
  <!-- Select input to preload other common defaults? -->

  <div data-controller="ignoreFirst">
    <label for="ignoreFirst" class="form-label">Ignore first <span data-ignoreFirst-target="label">0</span> pages</label>
    <input type="range" class="form-range" id="ignoreFirst" data-ignoreFirst-target="range" data-action="ignoreFirst#update" min="0" max="<%= @pdf.source_pages.count - 1 %>" value="0" />
  </div>

  <div>
    <hr/>
    <h3>Rows</h3>

    <div>
      <label for="cardRows" class="form-label">Cards across</label>
      <input type="range" class="form-range" id="cardRows" min="1" max="10" value="3" />
    </div>

    <div>
      <label for="cardLeft" class="form-label">Left gap</label>
      <input type="range" class="form-range" id="cardLeft" min="0" max="500" value="226" />
    </div>

    <div>
      <label for="cardWidth" class="form-label">Card Width</label>
      <input type="range" class="form-range" id="cardWidth" min="0" max="600" value="375" />
    </div>

    <div>
      <label for="cardRowGap" class="form-label">Horizontal gap</label>
      <input type="range" class="form-range" id="cardRowGap" min="0" max="64" value="36" />
    </div>
  </div>

  <div>
    <hr/>
    <h3>Columns</h3>

    <div>
      <label for="cardRows" class="form-label">Cards down</label>
      <input type="range" class="form-range" id="cardRows" min="1" max="10" value="2" />
    </div>

    <div>
      <label for="cardLeft" class="form-label">Top gap</label>
      <input type="range" class="form-range" id="cardLeft" min="0" max="500" value="95" />
    </div>

    <div>
      <label for="cardLeft" class="form-label">Card Height</label>
      <input type="range" class="form-range" id="cardLeft" min="0" max="600" value="525" />
    </div>

    <div>
      <label for="cardRowGap" class="form-label">Vertical gap</label>
      <input type="range" class="form-range" id="cardRowGap" min="0" max="64" value="36" />
    </div>
  </div>

  <div>
    <hr/>
    <h3>Downloads</h3>
    <div class="mb-1"><input type="submit" class="btn btn-primary" value="Individual Cards (.zip)" /></div>
    <div class="mb-1"><input type="submit" class="btn btn-primary" value="70% Repaged 9up (.pdf)" /></div>
    <div class="mb-1"><input type="submit" class="btn btn-primary" value="Tabletop Simulator (Fronts)" /></div>
    <div class="mb-1"><input type="submit" class="btn btn-primary" value="Tabletop Simulator (Backs)" /></div>
    <div class="mb-1"><input type="submit" class="btn btn-primary" value="PlayingCards.io (.pcio)" /></div>
  </div>

<% end %>
