<%= link_to "Upload Another", root_path %>

<br />
<br />

<%= form_with(model: @pdf) do |form| %>
  <div data-controller="ignoreFirst">
    <label for="ignoreFirst" class="form-label">Ignore first <span data-ignoreFirst-target="label">0</span> pages</label>
    <input type="range" class="form-range" id="ignoreFirst" data-ignoreFirst-target="range" data-action="ignoreFirst#update" min="0" max="<%= @pdf.source_pages.count %>" value="0" />
  </div>
<% end %>
