<div id="<%= dom_id pdf %>">
  <h2><%= pdf.filename %></h2>

  <div id="pageGrid">
    <% pdf.source_pages.each do |page|%>
      <span class="imgWrap">
        <img height="100" src="<%= url_for(page) %>" />
      </span>
    <% end %>
  </div>
</div>
