<div class="row">
  <p style="color: green"><%= notice %></p>

  <div class="col-9">
    <%= render @pdf %>
  </div>

  <div class="col-3 border-start">
    <%= render partial: "export" %>
  </div>
</div>
