.range-slider {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    label {
        flex-basis: 100%;
    }
    input {
        flex-basis: 80%;
    }
    output {
        flex-basis: 2.5rem;
        text-align: right;
        color: #fff;
        background: #6c757d;
        padding: 0 0.25rem;
    }
}
